@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

:root {
    --font: Ubuntu, sans-serif;
    --header_font: 5.4vh;
    --gap_unit: 1.8vh;
    --color_name_font: 5.2vh;
    --thick_font: 7.2vh;
    --thin_font: 3.6vh;
}

.row {
    display: flex;
    align-items: center;
    /*border-color: aqua;
    border-style: solid;*/;
}

.right {
    display: inline-block;
    align-items: center;
    border-radius: var(--gap_unit);
    /*border-style: dashed;*/
    padding-right: calc(2*var(--gap_unit));;
    margin-left: auto;
    margin-right: 0;

    color: white;
    line-height: 0%;
    font-family: var(--font);
}

.left {
    display: inline-block;
    /*border-style: dashed;*/
    padding-left: calc(2*var(--gap_unit));
    color: white;
    line-height: 0%;
    font-family: var(--font);
}

.header_font {
    font-size: var(--header_font);
}

.color_name_font {
    font-size: var(--color_name_font);
}

.thick_font {
    font-size: var(--thick_font);
}

.thin_font {
    font-size: var(--thin_font);
}

.normal_margin {
    margin-left: calc(3*var(--gap_unit));
    margin-right: calc(3*var(--gap_unit));
}

/*.thick_margin {
}*/

.thin_margin {
    margin-left: calc(6*var(--gap_unit));
    margin-right: calc(6*var(--gap_unit));
}

.wristband {
    border-radius: calc(2*var(--gap_unit));
    background-color: rgb(255, 234, 2);
    box-shadow:
        calc(0.5*var(--gap_unit))
        calc(0.5*var(--gap_unit))
        calc(0.5*var(--gap_unit))
        black;
}

.green {
    background-color: rgb(84, 206, 51);
}
.blue {
    background-color: rgb(88, 158, 251);
}
.pink {
    background-color: rgb(240, 137, 191);
}
.yellow {
    background-color: yellow;
}
.white {
    background-color: white;
}

.black_text {
    color: black;
}

.parent {
    position: absolute;
    display: grid;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    padding: var(--gap_unit);
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 6fr) 8fr 4fr;
    row-gap: var(--gap_unit);
    background-color: rgb(40, 40, 40);
}